<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <%= image_tag(@blog.img_url, class: "img-lg") %>

  <h2><%= @blog.title %></h2>

  <p><%= @blog.content %></p>

  <!-- <%= link_to 'Edit', edit_blog_path(@blog) %> | -->
  <%= link_to 'Back', blogs_path %>
</div>
